*{
    margin:0;
    padding: 0;
}

#container{
   width:95%;
   margin:0 auto;
   font-size:14px;
}

h4{
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size:14px;
}

.k-readonly {
    color: gray;
}

.diary-content-container{
    width:86%;
    margin:0 auto;
}

.selected-value {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background-size: 100%;
    margin-right: 5px;
    border-radius: 50%;
}

#categories-list .k-list-item-text {
    line-height: 1em;
    min-width: 300px;
}

/* Material Theme padding adjustment*/
.k-material #categories-list .k-list-item-text,
.k-material #categories-list .k-list-item-text.k-state-hover,
.k-materialblack #categories-list .k-list-item-text,
.k-materialblack #categories-list .k-list-item-text.k-state-hover {
    padding-left: 5px;
    border-left: 0;
}

#categories-list .k-list-item-text > span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    display: table-cell;
    vertical-align: central;
    margin: 10px 10px 10px 5px;
}

#categories-list .k-list-item-text > span:first-child {
    -moz-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
    -webkit-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
    box-shadow: inset 0 0 30px rgba(0,0,0,.3);
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
}

#categories-list h3 {
    font-size: 1.2em;
    font-weight: normal;
    margin: 0 0 1px 0;
    padding: 0;
}

#categories-list p {
    margin: 0;
    padding: 0;
    font-size: .8em;
}

.diary-date-weather{
    display: flex;
    justify-content:space-around;
}

.date-selector{
    width: 40%;
    height: 100%;
}

.weather_selector{
    width: 30%;
}

textarea{
    font-size: 20px;
    font-style: italic;
}

#diarytext{
    font-size: 16px;
    font-style: normal;
}

.diary-content-container .k-button{
    margin-top: 20px;
    width:200px;
    margin-left:auto;
    right:20px;
}
.diary-content-container .k-floating-label-container {
    width: 100%;
}

.diary-content-container .k-form-footer{
    display:flex;
    flex-direction:column;
}
#diayBook_btn{
    margin-top: 10px;
    margin-left: 30px;
    font-size: 9px;
}